@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Roboto&family=Roboto+Condensed&display=swap');
html{
  box-sizing: border-box;
}
*::after,
*::before{
  box-sizing: inherit;
}
body{
  font-family: 'Old Standard TT', serif;
  font-style: normal;
  font-weight: 400;
  background-color: #181511;
  padding-top: 80px;
}

a{
  text-decoration: none;
  color: #FFAE2B;
}
.container{
  max-width: 1200px;
  margin: 0px auto;
}
/* Header */

.header{
  position: fixed;
  overflow: hidden;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background: #181511;
  border-bottom: 1px solid #4B4136;
  
}
.header__container{
  height: 80px;
  max-width: 1240px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px  8.3%;
  position: relative ;
  z-index: 4;
  margin: 0px auto;
  /* background: #181511; */
}



.logo{
 height: 28px;
 width: 75px;
}

.list, .button{
  text-transform: uppercase;
  font-weight: 400;
  font-size: 11px;
  line-height: 24px;
}
.list{
  display: flex;
  flex-wrap: wrap;
}
.list__item{
  padding-right: 28px;
}
.list__item:last-child{
  padding-right: 0px;
}
.list__link{
  color: #ACA592;
  transition: color .3s;
}
.list__link:hover{
  color: #FFAE2B;
}
.nav{
  margin-left: 3.3%;

}
.list{
  display: flex;
  justify-content: flex-end;
  
}
.button{
  margin-left: 39.5%;
}
.button__item{
  color: #FFAE2B;
  border: 1px solid #FFAE2B;
  padding: 15px 25px;
  display: flex;
  flex-wrap: nowrap;
  transition: all .5s;

}
.button__item:hover{
 
  transform: scale(1.2);
 
}

.header__content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 63.6vh;
  background: url('../img/header.png') no-repeat;
  background-size: cover;
  background-position: center;
  
  
  
}
.header__text > p{

  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: #FFAE2B;
  text-transform: uppercase;
  text-align: center;
  padding: 0px 0px 19px 0px;
  letter-spacing: 2px;
}
.header__text{
  color: #FFFFFF;
  font-weight: 400;
  font-size: calc(1rem + 3vw);
  line-height: 80px;
  text-align: center;
  letter-spacing: 1px;
  /* padding: 0px 0px  0px; */
}
.header-content__button{
  display: flex;
  justify-content: center;
  width: 143px;
  height: 50px;
  text-align: center;
  background: #FFAE2B;
  margin-top: 35px;
  margin-bottom: 7%;
  border-radius: 1px;
  align-items: center;
  transition: all .4s;
  cursor: pointer;

}
.content__button{
  color: #181511;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px; 
  text-transform: uppercase;
  
}
.header-content__button:hover{
  transform: scale(1.2) ;
}

.nav input{
  display: none;
}
.nav label{
  display: none;
}

.menu{

}

/* Header end */

/* Template pages */
  .title{
    font-size: calc(2.85rem + 1vw);
    line-height: calc(3.45rem + 1vw);
    text-align: center;
    color: #FFAE2B;
  }
  .template__title{
    display: flex;
    flex-direction: column;
    padding: 120px 0px 60px 0px;
  }
  .template__title > p{
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ACA592;
    padding-bottom: 10px;
  }
  .template__title > h1{
    font-weight: 400;
    color: #FFAE2B;
    text-align: center;
  }
  .grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: max-content;
    gap: 20px;
  }

  
  .page{
    
    width: 387px;
    height: 315px;
    border: 1px solid #4B4136;
    transition: all .6s;
  }
  .page:hover{
    border: 1px solid rgb(114, 104, 80);
    /* transition: color .2s; */
  }
  .page__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .3s;
  }
  .page__link:hover{
    /* color: black; */
    transform: scale(1.1) ;

  }
  .page__text{
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    /* identical to box height, or 177% */
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-top: 20px;
    /* transition: .25s; */
  }

  .page__img{
    max-width: 305px;
    max-height: 190px;
    padding-top: 41px;
    filter: drop-shadow(0px 8px 24px rgba(0, 0, 0, 0.6));
  }


/* Template pages end*/

/* Python background */
  
  .python__img{
    background-image: url('../img/python.png');
    min-height: 50vh;
    background-size: cover;
    background-position: center;
    margin-top: 12.8vh;
    margin-bottom: 16.7vh;
  }


/* Python background end*/

/* Services */


.services__title{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
.services__title > p{
  font-size: 12px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ACA592;
  padding-bottom: 10px;
}

.services__div{
  /* display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: max-content; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* justify-items: center; */
  box-sizing: border-box;
}

/* .services__div:after{
  display:block;
  clear:both;
  content:"";
  } */
.web__design{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid #38342f;
  height: calc(9.2rem + 10vw);
  width: calc(12.5rem + 10vw);
  max-height: 280px;
  max-width: 330px;
  padding: 5% 5px 5px 5%;
  
}
.web__design:last-child{
  margin-bottom: 115px;
}
.web__design > img{
  max-width: 60px;
  max-height: 60px;
}
.services-web__title{
  font-size: 29px;
  line-height: 40px;
  color: #FFAE2B;
  padding-top: 20px;
  
}
.web-sub__title{
  font-size: 15px;
  line-height: 26px;
  color: #ACA592;
  padding-top: 10px;
}
.services-web__text{
  font-size: 11px;
  line-height: 26px;
  color: #ACA592;
  width: calc(13rem + 1vw);
  padding-top: 5px;
  
}
/* Services end */



/* Follow */

.instagram__line{
  border-bottom: 1px solid #4B4136;
  position: relative;
  bottom: -51px;
}
.instagram{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 21px;
  padding-left: 10px;
  padding-right: 10px;
}
.instagram__sub{
  max-height: 200px;
  max-width: 300px;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  padding-top: 69px;
  
  
}
.background__img{
  /* background-color: #43413e; */
  /* position: absolute; */
  /* opacity: .19; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../img/svg/background__instagram.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px 200px;
  /* background-size: 100%; */
}
.img__svg{
  position: relative;
  bottom: -18px;

}
.instagram__photo{
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 20px;
}

.img__jpg{
  max-width: 217px;
}

.instagram__title{
  /* position: absolute; */
  font-size: 40px;
  color: #FFAE2B;
  padding-top: 26px;
  padding-bottom: 50px;
}

.instagram__send{
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #181511;
  padding: 14px 24px;
  background: #FFAE2B;
  transition: all .4s;
}
.instagram__send:hover{
  transform: scale(1.2);

}







/* Follow end */




/* Footer */
.footer__top{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-top: 1px #4B4136;;

}
.footer_list{
  display: flex;
}

.footer__title{
  padding: 125px 0px 20px 0px ;
  max-width: 517px;
}
.footer-sub__title{
  padding-bottom: 30px;
  font-size: 12px;
  line-height: 28px;
  text-align: center;
  color: #ACA592;
}
.social__media{
  display: flex;
  padding-bottom: 30px;
  /* max-width: 48px;
  max-height: 48px; */
}
.media{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #4B4136;
  height: 48px;
  width: 48px;
  margin-left: 9px;
  transition: all .6s;
  
}
.media:hover{
  border: none;
  transform: scale(1.2);
  background-color: white;
}
.media:hover path {
  transition: all .6s;
  fill: black;
  
}


.footer__text{
  max-width: 414px;
  font-size: 14px;
  line-height: 20px;
  color: #ACA592;
  text-align: center;
  margin-bottom: 43px;
}
.line{
  width: 100%;
  height: 1px;
  background: #4B4136;
}
.footer{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 21px 10px;
}
.footer__link{
  padding: 0px  5px;
}

.footer__item:first-child,.footer__item:nth-child(2){
  border-right: 1px solid #4B4136;
}
.footer > p{
  color: #ACA592;
}
/* Footer end */


@media (max-width: 1300px){
  
  .header__container{
    display: flex;
    justify-content: space-between;
  }
  .nav{
    margin-left: 0%;
  
  }

  .grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* grid-template-rows: max-content; */
    justify-items: center;
    gap: 10px;
  }
  
  .button{
    margin-left: 0%;
  }
  .follow-1 { grid-area: follow-1; 
    align-self: end;
    justify-self: end;
   
  }

  .follow-2 { grid-area: follow-2; 
    justify-self: start;
    align-self: end;

  }
  
  .follow-3 { grid-area: follow-3; 
    align-self: center;
    justify-self: center;
    flex-wrap: nowrap;

  }
  
  .follow-4 { grid-area: follow-4; 
    justify-self: end;
    align-self: start;
    /* padding-bottom: 1000px; */
    position: relative;
    top: -50px;

  }
  
  .follow-5 { grid-area: follow-5; 
    justify-self: start;
    align-self: start;
    position: relative;
    top: -50px;
  }

  .instagram{
    display: grid; 
    grid-template-columns: 1fr 0fr 1fr; 
    /* grid-template-rows: 0fr 0fr 0fr;  */
    gap: 0px 0px; 
    grid-template-areas: 
      "follow-1 . follow-2"
      ". follow-3 ."
      "follow-4 . follow-5"; 
    

  }
  .instagram__sub{
    padding-top: 0px;
  }
  .background__img{
    height: 200px;
    width: 230px;
    flex-wrap: nowrap;
  }
  

}
@media (max-width: 830px){
  .header__text > h1{
    line-height: 50px;
    }
  .nav label{
    display: block;
    /* border-top: 10px solid #fff; */
  }
  .list li{
    display: block;
  }
  .list{
    display: none;
    
  }
  .button{
    display: none;
  }
  .burger{
    width: 20px;
    height: 1px;
    background-color: rgb(175, 175, 175);
    margin-bottom: 5px;
  }
  .grid{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: max-content;
    justify-items: center;
    gap: 10px;
  }
  .footer__title{
    padding: 100px 10px 20px 10px ;
  }
  .footer-sub__title{
    padding: 0px 10px;
  }
  
}
@media (max-width: 700px){
  .header__text > h1{
    line-height: 40px;
    }
  .instagram__photo, .instagram__line{
    display: none;
  }
  .web__design{
    height: calc(14.75rem + 2vw);
    width: calc(14.75rem + 2vw);
  }
  .web__design img{
    width: 50px;
  }
  
}

@media (max-width: 440px){
  .header__text > h1{
    line-height: 30px;
    }
  .page{
    width: 278px;
    height: 226px;
  }
  .page__img{
    width: 60%;
  }
  .footer p {
    margin-bottom: 10px;
  }
  
}
